# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run:  dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
          username: areeb_abbas06@hotmail.com
          password: Asd@cxz123

      # Step 7: Build Docker image
    - name: Build Docker image
      run:  docker build -f WebApp/Dockerfile -t areeb88/pipeline:latest WebApp

      # Step 8: Push Docker image to Docker Hub
    - name: Push Docker image
      run:  docker push areeb88/pipeline:latest 
